* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  font-family: "Barlow", sans-serif;
}
.container {
  width: 1440px;
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    width: 100%;
  }
}
